<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.felixbrucker.torrent_search_api" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <package android:name="com.felixbrucker.torrenthttpdownloader" />
    </queries>

    <application
        android:name=".SimklApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Support deep linking back for Simkl OAuth callback and Release Details -->
            <intent-filter android:label="Simkl Calendar OAuth Callback">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="simklcalendar" />
                <data android:host="auth" />
                <data android:host="release_detail" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.startup.StartupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.notification.NotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.felixbrucker.simklcalendar.ACTION_MARK_ITEM_WATCHED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_MARK_SEASON_WATCHED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_NOTIFICATION_DISMISSED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.download.DownloadCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.felixbrucker.simklcalendar.ACTION_DOWNLOAD_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.felixbrucker.simklcalendar.ACTION_ITEM_AIRED_ALARM" />
            </intent-filter>
        </receiver>

        <!-- Disable default WorkManager initializer when using Configuration.Provider in Application -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>
