<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.felixbrucker.torrent_search_api" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.felixbrucker.simklcalendar.READ_DATABASE"
        android:protectionLevel="normal" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <package android:name="com.felixbrucker.torrenthttpdownloader" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Support deep linking back for Simkl OAuth callback and Show Details -->
            <intent-filter android:label="Simkl Calendar OAuth Callback">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="simklcalendar" android:host="auth" />
                <data android:scheme="simklcalendar" android:host="oauth" />
                <data android:scheme="simklcalendar" android:host="detail" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_AIR_DATE_ALERT" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_MARK_EPISODE_WATCHED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_MARK_SEASON_WATCHED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_MARK_MOVIE_WATCHED" />
                <action android:name="com.felixbrucker.simklcalendar.ACTION_DOWNLOAD_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.provider.SimklContentProvider"
            android:authorities="com.felixbrucker.simklcalendar.provider"
            android:exported="true"
            android:readPermission="com.felixbrucker.simklcalendar.READ_DATABASE" />
    </application>

</manifest>
